


<script>

import { decor } from './decor'
export default decor;

</script>

<template>
	<lounge #default="{ palette, style, terrain }">
		<div habitat-region />
	
		<panel_1 />
		
		
		
		<panel_sink />
		
		<panel_tech />
		<panel_health />
		<panel_climate />
		<panel_goodness />
		<panel_moon />
		
		<panel_organic_crop_farming />
	</lounge>
</template>
