	
	
<script>
	   // style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:4.6;stroke-dasharray:none;stroke-opacity:1"

export default {}

</script>
	
<template>	
	<lounge #default="{ palette, terrain, style, $attrs }">
		<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
		<!-- Created with Inkscape (http://www.inkscape.org/) -->

		<svg
			:style="style"
		
			width="210mm"
			height="120mm"
			viewBox="0 0 210 120"
			version="1.1"
			id="svg1"
			inkscape:version="1.3 (0e150ed, 2023-07-21)"
			sodipodi:docname="Emo Vegan.svg"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:svg="http://www.w3.org/2000/svg"
		>
			<g
				inkscape:label="Layer 1"
				inkscape:groupmode="layer"
				id="layer1"
			>
				<g
					:style="{
						stroke: '#000000',
						strokeWidth: 4.6
					}"
					transform="translate(-2.8204047,-2.952994)"
				>
					
					<path
						:style="{
							stroke: palette [2],
							strokeWidth: '4.6',
							strokeLinecap: 'round',
							'stroke-linejoin': 'round',
							'stroke-miterlimit': 4.2,
							'paint-order': 'normal'
						}"
						d="m 39.258522,12.172337 c -0.804966,-0.16767 -1.602208,-0.33174 -2.42324,-0.40979 -2.676703,-0.0795 -5.346158,0.20856 -8.002392,0.50276 -2.853446,0.31798 -5.692025,0.75991 -8.474571,1.47139 -1.800982,0.50294 -3.625493,1.0942 -5.214283,2.10771 -0.252779,0.1613 -0.489013,0.34708 -0.733521,0.52062 -1.023586,0.84517 -1.968374,1.90751 -2.109386,3.28958 -0.02849,0.27921 0.0069,0.56126 0.01037,0.8419 0.08539,0.30043 0.133328,0.61412 0.256194,0.90125 0.778963,1.82029 2.57941,2.92926 4.206764,3.8846 0.385284,0.19043 0.766262,0.38981 1.155854,0.57126 0.627452,0.29224 1.495618,0.64934 2.148652,0.89933 3.107655,1.18952 6.062867,2.42385 9.19392,3.40558 1.262899,0.41509 2.563727,0.68009 3.87212,0.90094 1.034871,0.15965 2.079086,0.25518 3.121378,0.35454 0.906357,0.1142 1.818898,0.10819 2.73036,0.10606 2.858465,-0.0308 -4.589702,-2.5895 -6.258491,-3.40554 -0.08399,-0.041 -0.181044,0.0484 -0.273546,0.062 -0.321791,0.0469 -0.647019,0.0667 -0.969809,0.1064 -2.440463,0.24814 -4.889179,0.397 -7.330383,0.63661 -1.748371,0.1976 -3.528943,0.41093 -5.150798,1.14089 -0.335128,0.15075 -0.652859,0.33767 -0.979287,0.50649 -1.465502,0.83768 -2.772234,1.95408 -3.740761,3.34488 -0.165169,0.23718 -0.306081,0.49038 -0.45912,0.735578 -0.96208,1.818563 -0.758841,3.450839 -0.330536,5.382307 0.39542,1.47526 0.968724,2.924976 1.892243,4.154857 0.176752,0.235378 0.375862,0.453096 0.563793,0.679639 1.356982,1.472614 3.072223,2.501053 4.848753,3.382868 3.57918,1.563235 7.195001,3.175659 11.047864,3.890391 1.510365,0.319519 3.034864,0.290874 4.563903,0.180206 1.369565,-0.138741 2.753273,-0.28367 4.088917,-0.633086 0.873774,-0.228595 1.341783,-0.421752 2.194844,-0.731863 1.460944,-0.598025 2.874078,-1.287072 4.111489,-2.279123 0.731546,-0.58649 0.979481,-0.875355 1.635339,-1.538846 1.37778,-1.461943 2.436082,-3.176654 3.528602,-4.851659 0.9175,-1.368308 1.922767,-2.675989 3.030425,-3.895284 0.905582,-0.881847 1.999722,-1.57125 3.171725,-2.0395 0.84972,-0.262749 1.631336,-0.337406 2.485038,-0.08274 2.379395,1.061167 0.135328,0.05368 -6.075571,-2.287395 -0.09076,-0.0342 0.180207,0.0727 0.266068,0.11784 0.288124,0.15147 0.487853,0.349177 0.701792,0.589426 0.548951,0.766664 0.662243,1.70405 0.73995,2.617674 0.0513,1.020371 0.119126,2.039824 0.176789,3.05986 0.103302,1.448161 0.252571,2.893621 0.429179,4.334696 0.06999,0.449165 0.08994,0.674616 0.210353,1.101606 0.760927,2.698369 5.043494,4.724249 7.464505,3.2393 0.601081,-0.333204 1.177868,-0.700788 1.730604,-1.109275 1.004254,-0.808011 1.914657,-1.729757 2.774509,-2.687946 1.053153,-1.241988 1.756798,-2.713868 2.438815,-4.178435 0.642522,-1.379574 1.181129,-2.802438 1.664147,-4.244517 0.16535,-0.510299 0.312732,-1.02628 0.489803,-1.532787 0.03309,-0.09473 0.06286,-0.191029 0.104382,-0.282374 0.01473,-0.03251 0.06688,-0.12201 0.06326,-0.08641 -0.01146,0.111651 -0.05842,0.216627 -0.08763,0.32493 -8.137784,-3.551148 -7.072107,-4.563588 -6.303877,-1.383648 0.210018,0.822173 0.585827,1.585845 0.997926,2.322762 0.617614,0.971421 1.240381,1.939212 1.846048,2.918237 0.682109,1.097631 1.39155,2.177182 2.121868,3.243166 0.84112,1.218399 1.77564,2.365975 2.73929,3.488352 0.855376,1.00458 1.810745,1.911453 2.840422,2.733839 0.8833,0.736464 1.877474,1.274684 2.929681,1.723093 3.611279,1.001814 7.097017,3.16489 10.889817,3.785782 0.282547,0.04623 0.569053,0.06383 0.853581,0.09559 1.573957,0.186244 3.084129,0.05109 4.59703,-0.40029 1.666975,-0.615923 3.322734,-1.265124 4.969754,-1.93259 2.08817,-0.829343 4.1101,-1.796475 6.05624,-2.917351 1.62398,-0.980364 3.02807,-2.226738 4.22847,-3.68719 0.71928,-1.005541 1.116,-2.1843 0.93002,-3.42766 -0.0368,-0.245866 -0.1138,-0.484031 -0.17068,-0.726041 -0.56328,-1.620848 -1.7494,-2.58002 -3.15235,-3.461975 -2.8159,-1.519956 -5.98308,-2.478102 -8.94546,-3.528614 -0.32124,-0.11384 -0.6663,-0.14438 -1.00119,-0.20782 -0.829949,-0.1571 -1.289439,-0.21631 -2.125156,-0.33971 -0.967928,-0.13493 -1.940652,-0.2771 -2.92131,-0.25026 -0.894276,0.0245 -1.775004,0.17984 -2.651955,0.34091 -1.621351,0.37969 -2.427548,0.944946 -3.396638,2.271745 -0.759899,1.277999 -1.157964,2.723384 -1.448084,4.170237 -0.261079,1.419181 -0.155657,2.570138 0.306209,3.92705 0.700835,1.66616 2.066577,2.796432 3.491247,3.830262 3.439662,2.320491 7.422398,3.439952 11.286707,4.900155 1.49586,0.468024 3.03014,0.240271 4.51241,-0.151291 1.84605,-0.61818 3.31636,-1.905663 4.69792,-3.229686 0.95629,-1.061772 1.81667,-2.241514 2.36841,-3.569609 0.34919,-0.840533 0.37633,-1.161337 0.56442,-2.040667 0.1462,-1.2052 0.301,-2.45854 0.062,-3.665307 -0.13948,-0.704028 -0.27015,-0.903719 -0.55668,-1.551484 -0.76363,-1.516909 -1.84558,-2.516045 -3.23884,-3.440665 -2.91203,-1.49857 -1.54194,-0.82758 -8.01076,-3.12219 -0.23638,-0.0838 -1.25321,-0.14203 -1.50532,-0.13493 -0.51443,0.0146 -0.94073,0.11147 -1.44369,0.20295 -0.982079,0.26719 -2.047603,0.67974 -2.363217,1.75363 -0.04837,0.16457 -0.04983,0.33942 -0.07474,0.50916 0.0473,1.156523 0.762318,1.713472 1.814308,2.120005 7.577289,2.92813 5.367999,2.371818 9.677989,3.287797 2.80278,0.526111 5.63606,0.900057 8.48682,1.022531 1.89098,0.08133 2.80736,0.04288 4.70839,0.0189 5.53759,-0.115659 11.05371,-0.600704 16.55287,-1.234666 3.73672,-0.467483 7.48798,-0.863409 11.19865,-1.517665 1.62168,-0.285927 2.04411,-0.400841 3.58539,-0.752558 0,0 -6.21562,-3.109744 -6.21562,-3.109744 v 0 c -4.75012,1.146705 -9.59631,1.792051 -14.44706,2.349529 -1.11922,0.117646 -2.23692,0.251029 -3.35769,0.352992 -4.43182,0.403108 -8.88576,0.608632 -13.3328,0.731884 -1.90726,0.0022 -2.80733,0.03089 -4.70163,-0.07658 -2.86397,-0.162568 -5.71111,-0.571898 -8.51736,-1.160322 -3.638389,-0.904421 -2.02251,-0.590843 3.25921,1.594818 0.32008,0.13239 -0.65746,-0.220829 -0.9761,-0.356761 -0.27877,-0.11892 -0.65836,-0.29729 -0.83937,-0.577017 -0.0597,-0.09224 -0.0706,-0.208127 -0.10588,-0.312174 -0.005,-0.09548 -0.0329,-0.19239 -0.0156,-0.286457 0.13933,-0.761922 1.42354,-0.973116 2.01741,-1.108098 0.58901,-0.06038 0.76745,-0.104555 1.36277,-0.06113 2.36035,0.17257 6.79688,2.403984 -4.42254,-2.014574 -0.2416,-0.0952 0.48648,0.18167 0.72972,0.2726 1.37839,0.77732 2.53033,1.658395 3.33977,3.052485 0.26263,0.47836 0.48001,0.807384 0.62674,1.339026 0.3082,1.11662 0.16412,2.316203 0.0553,3.446487 -0.1566,0.800676 -0.17631,1.110614 -0.49124,1.872828 -0.51858,1.255133 -1.35371,2.356405 -2.28113,3.334349 -1.34053,1.239537 -2.76529,2.429507 -4.58193,2.87015 -1.459739,0.288293 -2.905146,0.352937 -4.320889,-0.194777 1.94168,0.752363 3.885749,1.498569 5.825029,2.257078 0.2548,0.09969 -0.51734,-0.178931 -0.7714,-0.280451 -1.14542,-0.457816 -2.226789,-1.058369 -3.274952,-1.704676 -1.385252,-0.910254 -2.733858,-1.90656 -3.536388,-3.398854 -0.523245,-1.226867 -0.647707,-2.228239 -0.436995,-3.553807 0.246709,-1.3434 0.593875,-2.696294 1.333498,-3.861282 0.126236,-0.157653 0.240983,-0.325297 0.378725,-0.473046 0.728749,-0.781634 1.7389,-1.132227 2.764343,-1.325524 0.66339,-0.102179 0.97036,-0.165484 1.651089,-0.203083 1.26536,-0.06988 2.52258,0.100774 3.77039,0.29162 0.79589,0.132745 1.32085,0.207133 2.1074,0.391691 0.33348,0.0782 1.30902,0.396542 0.99304,0.264271 -10.340827,-4.328925 -6.40418,-2.539408 -4.1484,-1.57436 1.31419,0.717972 2.59833,1.529266 3.26762,2.929404 0.0685,0.200988 0.15612,0.396434 0.20541,0.602973 0.25204,1.05609 -0.0898,2.056361 -0.71173,2.911043 -1.1495,1.391541 -2.5098,2.562209 -4.07368,3.474332 -1.931969,1.093484 -3.940636,2.030665 -6.01459,2.825228 -1.652772,0.634479 -3.297257,1.303609 -4.988709,1.827873 -1.46724,0.325319 -2.955588,0.397968 -4.446386,0.159663 -0.84026,-0.148019 -0.822097,-0.127292 -1.655267,-0.345485 -2.577177,-0.675167 -7.914674,-2.905167 3.11661,1.372715 C 86.858244,51.386714 85.836271,50.951105 84.955885,50.249885 83.89831,49.486742 82.920446,48.628183 82.052589,47.651556 81.08908,46.557284 80.143495,45.446075 79.310038,44.247637 78.586196,43.189721 77.858438,42.13565 77.185245,41.044175 76.598838,40.06056 75.990173,39.090123 75.351303,38.1397 74.936205,37.470624 74.57699,36.779579 74.340479,36.025564 c -0.907835,-3.392597 0.526444,-1.505245 -7.044322,-4.101497 -0.411735,0.7331 -0.522678,1.57582 -0.787509,2.36878 -0.453019,1.422346 -0.980447,2.819655 -1.608938,4.174602 -0.650965,1.402158 -1.33574,2.806023 -2.37089,3.972458 -0.849065,0.917004 -1.742119,1.80571 -2.777978,2.513259 -0.499236,0.329888 -1.010742,0.721288 -1.614398,0.816295 -2.047923,-1.441874 -0.329591,-0.213938 6.263062,2.497036 0.07612,0.03132 -0.173224,-0.01458 -0.23777,-0.06654 -0.354758,-0.280614 -0.36308,-0.900987 -0.471897,-1.282018 -0.212803,-1.413651 -0.349888,-2.836796 -0.423297,-4.264574 -0.03485,-1.027144 -0.122491,-2.050615 -0.166606,-3.077208 -0.06191,-1.013815 -0.152766,-2.043172 -0.597564,-2.973214 -0.161332,-0.296393 -0.535386,-0.942127 -0.867945,-1.075964 -6.587273,-2.651102 -4.517506,-2.284102 -7.275285,-2.742542 -0.910823,-0.0578 -1.807352,0.11219 -2.64382,0.48225 -1.202164,0.59893 -2.346729,1.34143 -3.26968,2.327334 -1.095138,1.268679 -2.104441,2.611593 -3.029919,4.008956 -1.063066,1.633896 -2.084021,3.314475 -3.442932,4.726452 -0.630344,0.617565 -0.878419,0.898729 -1.58276,1.435782 -1.212326,0.924371 -2.599441,1.560168 -4.016947,2.100364 -0.939941,0.308502 -1.216747,0.424992 -2.171882,0.639783 -1.334957,0.300185 -2.704782,0.434767 -4.067389,0.525885 -1.5169,0.05131 -3.027237,-0.01998 -4.513232,-0.357679 -0.709124,-0.156746 -1.408131,-0.325934 -2.099293,-0.551419 -0.244633,-0.07982 -0.968788,-0.347234 -0.729267,-0.253189 14.637873,5.747461 6.44612,2.5006 4.939425,1.90292 -1.77566,-0.793925 -3.492953,-1.732651 -4.901142,-3.098777 -0.473027,-0.501409 -0.700646,-0.705389 -1.095656,-1.272134 -0.682403,-0.979068 -1.13152,-2.099025 -1.476656,-3.234375 -0.283633,-1.107233 -0.566538,-2.289827 -0.355449,-3.440557 0.102255,-0.557402 0.290535,-0.893047 0.520207,-1.403195 1.038053,-1.653122 2.247299,-2.830099 3.996733,-3.736701 0.31821,-0.1442 0.62934,-0.30519 0.954629,-0.43262 1.603808,-0.62832 3.337341,-0.79811 5.031599,-1.00767 2.478574,-0.24394 4.963219,-0.40954 7.448215,-0.5732 0.03797,-0.002 0.89495,-0.0641 1.016925,-0.0644 0.08863,-1.6e-4 0.342462,0.0655 0.264966,0.0226 -1.604457,-0.89088 -4.069783,-3.4495 -6.51713,-3.38413 -0.885501,0.005 -1.768388,-0.0449 -2.64823,-0.14766 -1.036149,-0.10965 -2.073966,-0.21633 -3.099556,-0.40425 -1.275941,-0.23814 -2.536977,-0.54372 -3.769707,-0.95381 -2.335714,-0.76747 -6.341137,-2.39944 3.877303,1.58057 0.350505,0.13656 -0.706097,-0.25977 -1.05638,-0.39686 -1.139184,-0.44585 -1.1667,-0.47511 -2.297401,-0.98268 -1.551146,-0.82878 -3.333426,-1.79263 -4.259844,-3.36792 -0.129272,-0.21984 -0.200217,-0.46911 -0.300325,-0.70364 -0.02195,-0.22242 -0.07547,-0.44398 -0.06583,-0.66726 0.05203,-1.20754 1.008762,-2.09682 1.879623,-2.80041 1.778145,-1.19902 3.677808,-1.91805 5.756007,-2.43662 2.762108,-0.66655 5.570929,-1.09942 8.395426,-1.4046 2.677281,-0.27983 5.387054,-0.56579 8.075762,-0.2719 0.82869,0.14239 1.654766,0.3155 2.464151,0.54339 z" 
					/>
					<path
						:style="{
							stroke: palette [2],
							strokeWidth: '4.6',
							strokeLinecap: 'round',
							'stroke-linejoin': 'round',
							'stroke-miterlimit': 4.2,
							'paint-order': 'normal'
						}"
						d="m 46.107024,64.120125 c 1.689469,0.146387 3.36461,0.418554 5.039925,0.67466 0.555864,0.100342 1.113245,0.192821 1.667597,0.301329 0.9426,0.184505 2.203331,0.454684 3.129227,0.732651 0.513408,0.154197 2.022892,0.710228 1.521556,0.520485 -5.807476,-2.197942 -6.077874,-2.423729 -3.060778,-0.875334 2.385945,1.409525 4.657588,3.063403 6.612947,5.036714 0.320113,0.323051 0.617917,0.667477 0.926877,1.001199 1.665062,1.928595 2.456146,4.319196 3.049443,6.750151 0.488032,2.081981 0.591528,4.218173 0.656139,6.346696 0.165186,2.888749 -0.0971,5.768134 -0.362521,8.641491 -0.255801,2.462742 -0.502172,4.928671 -0.929109,7.368693 -0.140583,1.03628 -0.497824,2.02591 -0.683028,3.05209 -0.522549,2.77754 -0.313127,0.90369 6.92639,2.472 0.176861,0.0383 0.163587,-0.32285 0.244021,-0.48495 0.467034,-0.94122 0.899658,-1.89635 1.3312,-2.85428 1.526426,-3.351398 3.114455,-6.671749 4.804866,-9.943409 1.356857,-2.674055 2.88413,-5.254778 4.554029,-7.743961 1.186273,-1.791917 2.54629,-3.45044 3.967916,-5.057787 1.015357,-1.084627 2.011321,-2.198471 3.172049,-3.133276 0.864504,-0.69623 1.145506,-0.843114 2.093069,-1.458897 1.520108,-0.93043 3.084699,-1.808561 4.748188,-2.458735 0.959917,-0.375198 1.538019,-0.533824 2.524518,-0.838588 1.855746,-0.556755 3.738475,-1.02035 5.665515,-1.246558 1.30885,-0.153656 2.47387,-0.206171 3.79295,-0.287709 0.69915,-0.03824 1.39813,-0.0795 2.09744,-0.114384 2.81343,-0.140566 5.6192,-0.219576 8.43661,-0.121837 2.89392,0.100343 6.69073,0.374832 9.52908,0.561097 5.37339,0.363469 10.74311,0.778999 16.11747,1.128361 3.52936,0.229405 5.65344,0.378234 9.1541,0.446054 1.36483,0.02657 2.73016,0.0076 4.09522,0.01091 2.40551,-0.08965 4.8095,-0.106391 7.19679,-0.467775 1.91721,-0.290248 4.11424,-0.75327 5.74163,-1.919122 2.11828,-1.517525 2.83713,-3.207155 4.17566,-5.377317 1.73456,-3.322295 3.1004,-6.813758 4.49464,-10.286275 0,0 -6.14596,-2.364279 -6.14596,-2.364279 v 0 c -1.32277,3.455959 -2.62196,6.933056 -4.43787,10.1712 -1.38005,2.087576 -2.0293,3.566455 -4.14103,4.976163 -0.78549,0.524373 -1.69047,0.861476 -2.59058,1.147468 -0.96172,0.305532 -1.96562,0.468499 -2.96371,0.617187 -2.38259,0.354925 -4.64835,0.375479 -7.05305,0.471253 -1.34438,-2.92e-4 -2.68893,0.02095 -4.03313,-9.61e-4 -8.38686,-0.136019 -16.74719,-0.967716 -25.11174,-1.515722 -2.47644,-0.187615 -7.25169,-0.569932 -9.84316,-0.692319 -2.90408,-0.13711 -5.79839,-0.09527 -8.70049,0.03834 -0.70617,0.03251 -1.41191,0.07377 -2.11786,0.11056 -1.448909,0.09105 -2.453439,0.130197 -3.882858,0.309949 -1.962301,0.246687 -3.880908,0.730685 -5.766504,1.318234 -1.068434,0.347364 -1.527349,0.472992 -2.563052,0.902855 -1.677008,0.696024 -3.249799,1.61548 -4.791937,2.56667 -0.963713,0.634739 -1.29036,0.81313 -2.170718,1.531913 -1.175797,0.960025 -2.175325,2.10975 -3.210874,3.212847 -1.448737,1.626444 -2.824912,3.315232 -3.994571,5.157514 -1.628886,2.537335 -3.108877,5.165486 -4.449374,7.866846 -1.670716,3.292549 -3.279562,6.615244 -4.929199,9.91831 -0.457615,0.92525 -0.901521,1.86184 -1.453447,2.73637 -0.07683,0.12184 -0.381778,0.29717 -0.249022,0.35285 2.19627,0.92122 4.541669,1.45473 6.74045,2.36996 0.123999,0.0516 -0.117325,0.24161 -0.175988,0.36243 -0.0319,-0.32944 0.06669,-0.65984 0.135709,-0.98007 0.14693,-0.6817 0.303703,-1.36185 0.395989,-2.05402 0.376428,-2.47532 0.549129,-4.97416 0.810665,-7.463138 0.26562,-2.887226 0.604189,-5.779918 0.494161,-8.684242 C 72.28729,84.701735 72.198335,82.516074 71.705441,80.385207 71.114737,77.863026 70.352252,75.351388 68.717708,73.28793 68.408572,72.936646 68.113382,72.572583 67.790305,72.234065 65.836014,70.186453 63.51557,68.505529 61.137147,66.991881 60.584119,66.685777 60.060628,66.318863 59.478066,66.073591 58.107848,65.496703 52.827302,63.23065 49.8679,62.420295 48.289283,61.988024 46.667301,61.733949 45.058388,61.448421 43.64322,61.220075 43.324237,61.167527 41.963112,60.951764 c -0.221014,-0.0351 -1.228149,-0.18593 -1.581918,-0.260491 -0.31712,-0.06675 -0.303268,-0.07345 -0.560599,-0.184018 z" 
					/>
					<path
						:style="{
							stroke: palette [2],
							strokeWidth: '4.6',
							strokeLinecap: 'round',
							'stroke-linejoin': 'round',
							'stroke-miterlimit': 4.2,
							'paint-order': 'normal'
						}"
						d="m 89.356715,89.105215 c -0.78023,0.09678 -1.559445,0.184429 -2.330052,0.346738 -1.134129,0.30822 -1.931361,1.082963 -2.677786,1.946675 -0.580919,0.871337 -1.516942,1.768749 -1.810868,2.795784 -0.05235,0.182949 -0.05986,0.375836 -0.08979,0.563754 0.08138,1.154316 0.87865,1.877397 1.771551,2.495631 0.199142,-0.01458 0.327337,0.290918 0.53075,0.303479 0.11667,0.0076 0.206195,-0.326355 -0.032,-0.311936 -0.08668,0.0054 -0.168151,0.04342 -0.252234,0.06513 -1.078972,0.369765 -2.019292,1.01375 -2.933983,1.678797 -0.513686,0.388991 -1.007288,0.805083 -1.470504,1.253203 -0.16195,0.15674 -0.554221,0.53944 -0.66729,0.75332 -0.08005,0.15148 -0.10772,0.3252 -0.161605,0.48779 -0.07199,0.80541 0.173733,1.6091 0.748331,2.19567 0.158877,0.16221 0.344762,0.29549 0.517145,0.44323 3.268062,2.24922 7.193384,3.28509 10.860364,4.65843 1.276547,0.30776 2.549883,0.63958 3.860325,0.76713 0.874527,0.0851 1.348018,0.0819 2.230598,0.10509 1.916204,0.082 3.802763,-0.16275 5.681953,-0.50046 1.09037,-0.24155 2.21989,-0.39361 3.20869,-0.93636 1.00435,-0.61007 1.75591,-1.53018 2.55415,-2.37446 1.46487,-1.5787 2.84103,-3.23882 4.18732,-4.91919 1.21729,-1.424855 2.34345,-2.921793 3.47247,-4.416215 0.57794,-0.618429 0.93448,-1.4673 1.62945,-1.976746 0.3713,-0.272188 0.84198,-0.459663 1.25311,-0.648877 0.67708,-0.275623 1.36943,-0.511563 2.09304,-0.627923 0.48222,-0.07744 0.97042,-0.0998 1.453,-0.178748 0.10982,-0.07453 0.24116,-0.124569 0.32942,-0.223562 0.88125,-0.989177 -0.48497,-1.939449 -1.17409,-2.443915 -0.90654,-0.604086 -1.89392,-1.073221 -2.91031,-1.460172 -7.37485,-2.80773 -4.79196,-2.119979 -8.00855,-2.941458 -1.67828,-0.246871 -3.28113,0.356901 -4.80509,0.988497 -1.78666,0.769396 -3.41607,1.814437 -4.99151,2.943176 -0.87136,0.623009 -1.682709,1.341726 -2.276399,2.242377 -0.37481,0.568615 -0.44868,0.799057 -0.72616,1.416524 -0.606737,1.603297 -0.482468,3.006892 -0.06443,4.626477 0.518707,1.849015 1.805529,2.943485 3.277069,4.058665 1.56202,1.14156 3.31933,1.95789 5.09433,2.70512 2.444,0.93718 4.88469,1.88305 7.33201,2.81155 1.25774,0.47722 2.05068,0.65794 3.39435,0.57265 1.44428,-0.0846 2.4034,-0.77831 3.41107,-1.74743 0.90015,-0.95155 1.4411,-1.84438 1.68567,-3.13156 0.0559,-0.85652 -0.0327,-1.25084 0.66278,-1.81751 0.69725,-0.31579 1.49856,-0.064 2.14352,0.26717 -2.0894,-0.79798 -4.17349,-1.61002 -6.26821,-2.393919 -0.1302,-0.04871 0.25244,0.117473 0.37251,0.187573 0.53677,0.313216 0.91838,0.741466 1.28739,1.231826 0.44578,0.64226 0.7532,1.3634 1.00924,2.09821 0.19598,0.65666 0.27929,1.33496 0.49646,1.98579 0.28639,0.83692 0.54625,1.22244 1.29679,1.70477 2.62747,1.21831 5.91739,3.24081 9.06603,2.84672 0.21957,-0.0274 0.43533,-0.0798 0.65299,-0.11966 1.6486,-0.40012 3.09649,-1.3489 4.49028,-2.28104 1.64019,-1.07833 2.8417,-2.60347 3.94391,-4.19673 1.06635,-1.6062 1.96547,-3.312767 2.8994,-4.996932 1.09452,-1.994654 2.35871,-3.88781 3.69008,-5.730449 0.5145,-0.687307 1.00028,-1.402007 1.56167,-2.053358 0.11163,-0.129473 0.4813,-0.568365 0.71907,-0.628992 0.0727,-0.01858 0.14281,0.04601 0.2142,0.06891 1.40238,2.167947 0.17392,0.169664 -6.30738,-2.238792 -0.0779,-0.02895 0.13941,0.09105 0.20275,0.144746 0.27328,0.231771 0.42668,0.552294 0.59947,0.858592 0.61739,1.129646 1.17851,2.288445 1.7577,3.437727 0.80297,1.618613 1.80191,3.123911 2.79313,4.630279 1.11329,1.679002 2.27448,3.325352 3.42252,4.980599 1.19457,1.69111 2.4727,3.32347 3.78686,4.92307 0.64023,0.76958 1.35645,1.46713 1.9781,2.25197 1.96092,2.52804 3.88992,2.13439 7.87052,3.61517 0.50914,-0.14875 0.83122,-0.48949 1.06402,-0.94911 0.27199,-0.69846 0.27471,-1.45605 0.23958,-2.19376 -0.0706,-0.95413 -0.17232,-1.90377 -0.32331,-2.8485 -0.18017,-1.23515 -0.44544,-2.15166 -1.11407,-3.2119 -0.71469,-0.93691 -1.74214,-1.50416 -2.82676,-1.91471 -2.4426,-0.92458 -4.89131,-1.832926 -7.33696,-2.74938 -0.27663,-0.06416 -0.54957,-0.147295 -0.8299,-0.192778 -0.63077,-0.102179 -1.44777,-0.125466 -2.07693,-0.144562 -1.14641,-0.03478 -2.28247,-0.01091 -3.42773,0.04018 -0.98325,0.0782 -1.97495,0.145113 -2.94916,0.308383 -0.25143,0.04223 -0.81867,0.150384 -1.07778,0.309679 -0.0898,0.05509 -0.14727,0.150751 -0.2209,0.226089 -0.0404,0.184861 -0.13243,0.365672 -0.1213,0.554573 0.008,0.133653 0.0509,0.311979 0.17528,0.361232 2.37658,0.940534 4.7954,1.774364 7.22515,2.567454 0.244,0.0796 0.51256,0.0284 0.76887,0.0418 0.89022,0.0469 0.92779,0.0476 1.83034,0.0907 1.85952,0.12457 3.7188,0.10947 5.57888,0.0245 1.76517,-0.0553 3.34375,-0.52696 4.94425,-1.23611 1.92433,-1.06706 3.69458,-2.396605 5.43972,-3.731429 1.3164,-0.97343 2.58351,-2.008328 3.76009,-3.146724 0.89116,-0.949278 1.73743,-1.938768 2.62369,-2.893058 0.37948,-0.373147 0.7089,-0.794272 1.08471,-1.170745 0.12785,-0.128015 0.33973,-0.410496 0.46504,-0.279986 0.0636,0.06621 0.0282,0.18148 0.0423,0.272166 -2.18506,-0.863679 -4.36119,-1.750224 -6.55514,-2.591049 -0.0469,-0.01815 0.0777,0.06924 0.0968,0.115832 0.0303,0.07442 0.0399,0.156206 0.0469,0.236047 0.0373,0.424755 -0.0276,0.868303 -0.0654,1.28986 -0.1453,1.386129 -0.22888,2.777314 -0.36466,4.164286 -0.18056,1.560557 -0.29636,3.128393 -0.57485,4.675557 -0.30489,1.551138 -0.74109,3.077263 -1.34651,4.537553 -0.57214,1.25522 -1.23316,2.46678 -1.90262,3.67195 -0.40319,0.78593 -0.83745,1.55804 -1.21753,2.35538 -0.18785,0.39906 -0.4102,0.78051 -0.67391,1.13387 -0.0306,0.0409 -0.0501,0.15111 -0.0927,0.12238 -0.0447,-0.0301 0.0283,-0.10424 0.0424,-0.1562 2.24437,0.91072 4.45319,1.9145 6.7331,2.73215 0.0942,0.0338 0.0848,-0.18148 0.12912,-0.27116 0.068,-0.13783 0.13456,-0.27655 0.20797,-0.41164 0.32999,-0.60752 0.71032,-1.19017 1.06767,-1.78161 0.15711,-0.25446 0.31446,-0.50876 0.47125,-0.76341 0.36465,-0.59232 0.69119,-1.10462 1.01407,-1.72417 0.51462,-0.98744 0.92465,-2.02563 1.34929,-3.05335 0.64298,-1.72289 1.29198,-3.44512 1.88524,-5.185981 0.44942,-1.351534 1.02549,-2.653123 1.63628,-3.937852 0.43996,-0.699351 0.6686,-1.737911 1.45967,-2.137347 0.0644,0.01912 0.13602,0.02214 0.1933,0.05725 0.0726,0.04439 0.26591,0.203352 0.18579,0.174751 -2.15323,-0.766048 -4.27793,-1.610167 -6.42459,-2.394404 -0.0992,-0.03618 0.19202,0.08987 0.27915,0.149293 0.19773,0.135112 0.31624,0.282277 0.47712,0.455732 0.57155,0.648748 0.76433,1.482497 0.95806,2.30119 0.32187,1.470832 0.80011,2.8893 1.37584,4.277903 0.81097,1.758035 1.61782,3.517805 2.42073,5.279535 0.53211,1.15637 1.05972,2.31475 1.56949,3.48114 0.34788,0.79722 0.69534,1.59475 1.03196,2.39681 0.2678,0.68988 0.60869,1.34677 0.94877,2.00278 1.88429,3.40548 0.28067,1.26639 7.76484,4.07733 0.13838,-0.092 0.28691,-0.17039 0.4154,-0.27579 1.00533,-0.82488 1.84866,-2.48602 2.47751,-3.60258 1.24255,-2.11637 2.22334,-4.36587 3.13696,-6.63875 0.79163,-1.91638 1.26709,-3.93228 1.65985,-5.961188 0.31013,-1.719312 0.4375,-3.463294 0.63398,-5.197522 0.11856,-1.107763 0.36757,-2.19185 0.73928,-3.240628 0.25326,-0.67278 0.5213,-1.344675 0.87964,-1.969142 0.38065,-0.578335 0.54923,-1.226921 0.14219,-1.859737 -0.12456,-0.193664 -0.30215,-0.347569 -0.45322,-0.521338 -0.22753,-0.175485 -0.44432,-0.365801 -0.68257,-0.526403 -0.56163,-0.378623 -1.34422,-0.794369 -1.96462,-1.038215 -2.58279,-1.015219 -5.17257,-2.013415 -7.77706,-2.971561 -0.66075,-0.243069 -2.29441,-0.635311 -2.96252,-0.803766 -3.72721,-0.794368 -7.56985,-0.817148 -11.3641,-0.740427 -5.4462,0.205448 -10.88069,0.653522 -16.30534,1.168033 -5.18673,0.610188 -10.38982,1.049599 -15.58935,1.530195 0,0 5.8769,3.043551 5.8769,3.043551 v 0 c 5.22909,-0.470303 10.46169,-0.900749 15.67984,-1.485684 5.4612,-0.512264 10.93381,-0.969897 16.42149,-1.045213 3.79941,-0.02257 7.64481,0.0086 11.35188,0.946405 0.50383,0.137466 1.01084,0.263666 1.5115,0.412203 0.48645,0.144378 1.91737,0.661374 1.44905,0.466133 -1.70872,-0.712334 -3.44567,-1.35513 -5.17382,-2.018935 -0.35899,-0.137833 0.71662,0.280343 1.06598,0.441075 0.29404,0.135295 0.58114,0.286068 0.86243,0.446162 0.22923,0.13038 0.44509,0.283054 0.66764,0.424581 0.2174,0.15438 0.96641,0.529568 0.82849,0.940745 -0.0128,0.03651 -0.26819,0.489961 -0.28026,0.511509 -0.36485,0.668622 -0.63713,1.381798 -0.89302,2.098258 -0.38024,1.106467 -0.64877,2.245532 -0.74511,3.414505 -0.16621,1.721245 -0.29241,3.448809 -0.58432,5.154943 -0.35772,1.99096 -0.81555,3.964851 -1.57012,5.848301 -0.88469,2.24804 -1.84317,4.4726 -3.10325,6.54086 -0.46629,0.78134 -0.6152,1.06832 -1.1294,1.79262 -0.29045,0.40915 -0.73944,1.14506 -1.28404,1.29456 -0.09,0.0247 -0.18583,-0.0164 -0.27872,-0.0242 2.13014,0.85105 4.26719,1.68508 6.39046,2.55312 0.0737,0.0302 -0.17093,0.009 -0.23574,-0.0369 -0.21653,-0.15402 -0.46446,-0.93497 -0.64985,-1.16233 -0.37069,-0.61728 -0.69077,-1.26678 -0.98257,-1.92474 -0.33116,-0.81458 -0.69729,-1.61409 -1.04943,-2.41967 -0.52445,-1.17931 -1.07697,-2.34545 -1.62847,-3.51229 -0.82262,-1.74865 -1.63747,-3.50098 -2.44316,-5.25745 -0.5629,-1.343579 -1.04173,-2.711282 -1.34382,-4.139709 -0.19244,-0.887928 -0.32013,-1.822873 -0.82803,-2.59848 -1.78659,-2.6005 -2.94003,-1.896699 -7.62036,-3.560093 -0.10693,-0.03802 -0.22386,0.04806 -0.3271,0.09527 -0.10947,0.05022 -0.20316,0.129473 -0.30474,0.194161 -0.71427,0.68909 -1.09061,1.608276 -1.52434,2.485835 -0.61094,1.314831 -1.19969,2.643434 -1.65097,4.023051 -0.56031,1.735092 -1.17742,3.452325 -1.80746,5.163095 -0.78798,1.92919 -1.62407,3.70366 -2.83923,5.4101 -0.47183,0.72871 -0.94623,1.45325 -1.38807,2.20065 -0.053,0.0896 -0.25239,0.22151 -0.15956,0.26889 2.15068,1.09772 4.39196,2.00811 6.58794,3.01218 0.22741,-0.53595 0.61259,-0.99463 0.8274,-1.53931 0.38562,-0.78184 0.79358,-1.55264 1.17855,-2.335 0.65776,-1.23825 1.30074,-2.48479 1.88685,-3.75889 0.62268,-1.50719 1.07346,-3.07996 1.40543,-4.67638 0.28987,-1.563746 0.40186,-3.14826 0.58784,-4.726477 0.16202,-1.379832 0.2355,-2.767582 0.41401,-4.145687 0.52454,-4.098474 0.0406,-2.202867 -6.60818,-4.972922 -0.70277,0.542497 -1.23878,1.244786 -1.84295,1.890531 -0.86662,0.950952 -1.69517,1.936403 -2.59152,2.859532 -1.15691,1.106931 -2.39016,2.127907 -3.65872,3.104631 -1.7054,1.311526 -3.44665,2.621357 -5.39694,3.548892 -1.55201,0.605641 -3.15503,0.991425 -4.83116,1.012865 -1.84748,0.07269 -3.69333,0.03197 -5.53893,-0.08036 -0.6093,-0.03597 -1.23705,-0.06653 -1.84474,-0.128209 -0.26308,-0.02668 -1.02985,-0.203947 -0.7871,-0.09905 2.01127,0.868756 4.07871,1.601204 6.11807,2.401824 -0.0948,0.0562 -0.20632,0.0909 -0.28453,0.16857 -0.0948,0.0942 -0.14773,0.22286 -0.22158,0.3343 0.13809,-0.0333 0.27093,-0.0862 0.40919,-0.11857 1.13755,-0.26658 2.31848,-0.30325 3.47838,-0.38816 2.09702,-0.063 4.24719,-0.10639 6.26775,0.54186 -1.93858,-0.75348 -3.87952,-1.50093 -5.81576,-2.260423 -0.23168,-0.09094 0.46897,0.166748 0.70188,0.254475 0.79566,0.299568 1.55578,0.663748 2.18728,1.247208 0.75247,0.93973 1.02286,1.711 1.20823,2.89861 0.1489,0.91978 0.24522,1.84352 0.30863,2.77314 0.0517,0.59243 0.0924,1.22433 -0.12352,1.7897 -0.16799,0.23517 -0.43043,0.2792 -0.67828,0.12184 2.17401,0.82779 4.35471,1.63821 6.52202,2.48338 0.0665,0.026 -0.14344,-0.008 -0.21306,-0.0231 -0.39015,-0.0897 -0.64777,-0.40617 -0.90062,-0.69163 -0.26804,-0.32785 -0.51052,-0.68623 -0.79412,-1.0003 -0.4037,-0.4471 -0.88917,-0.81935 -1.26627,-1.29243 -1.36157,-1.55815 -2.64594,-3.18625 -3.84727,-4.87089 -1.15383,-1.64023 -2.27296,-3.30468 -3.40923,-4.957245 -0.97842,-1.481039 -1.9706,-2.956516 -2.77975,-4.540014 -0.57203,-1.140739 -1.10495,-2.300401 -1.68871,-3.43547 -0.17237,-0.342903 -0.31591,-0.718944 -0.51346,-1.048205 -1.36423,-2.273637 -4.86087,-3.873304 -7.35637,-2.914748 -1.12465,0.764093 -1.73065,2.079907 -2.55675,3.121783 -1.31721,1.881966 -2.58222,3.802211 -3.71763,5.800386 -0.94186,1.655791 -1.85015,3.332881 -2.89836,4.925303 -1.05853,1.5244 -2.24236,2.94595 -3.83242,3.94766 -1.35747,0.8699 -2.77789,1.73727 -4.4033,1.96544 -0.58977,0.0417 -1.14644,0.0642 -1.73043,-0.0529 -0.15456,-0.0309 -0.60417,-0.17694 -0.45766,-0.11875 5.42168,2.1504 8.4047,3.12216 5.84992,2.28365 -0.6844,-0.27425 -1.17098,-0.45028 -1.4182,-1.19929 -0.28487,-0.62997 -0.37347,-1.2679 -0.51165,-1.94109 -0.22903,-0.80695 -0.5654,-1.57933 -0.97399,-2.31181 -0.26335,-0.41603 -0.52138,-0.84534 -0.86513,-1.2024 -1.91405,-1.988154 -6.1806,-2.206898 -7.68463,-3.318377 -0.88833,-0.19941 -1.79443,-0.197974 -2.51377,0.440373 -0.64516,0.696056 -0.87224,1.301104 -0.80712,2.254684 -0.16144,1.12522 -0.67685,1.9063 -1.47808,2.7044 -1.01057,0.87765 -1.82167,1.27849 -3.18606,1.27327 -0.58407,-0.0306 -0.66584,-0.0109 -1.24003,-0.13839 -2.48879,-0.55434 -6.98092,-2.98723 3.77321,1.58244 -1.78471,-0.69322 -3.5509,-1.47127 -5.14788,-2.53833 -1.3686,-0.96113 -2.79339,-1.93839 -3.36006,-3.59126 -0.43776,-1.421705 -0.64483,-2.720237 -0.10171,-4.156808 0.26231,-0.577137 0.3052,-0.739855 0.66765,-1.264055 0.5725,-0.82795 1.35763,-1.470692 2.16095,-2.06214 1.53874,-1.095115 3.15318,-2.080123 4.91205,-2.786009 1.4955,-0.546418 3.04166,-1.01348 4.62957,-0.561215 2.70663,0.839517 0.65988,0.221714 -5.15975,-2.047817 -0.25095,-0.09786 0.50756,0.180756 0.75911,0.277081 0.63271,0.242323 0.89691,0.351101 1.49797,0.655855 0.22849,0.115831 0.45099,0.243122 0.67649,0.364678 0.20393,0.128198 0.40991,0.253113 0.61178,0.384455 0.28635,0.186319 0.54242,0.425348 0.85226,0.569241 0.0533,0.02473 0.12042,-0.0032 0.17546,0.01642 0.0877,0.03273 -0.80878,0.175107 -0.27094,0.07291 -1.23348,0.188879 -2.44149,0.467894 -3.56567,1.035579 -0.58494,0.303879 -0.89166,0.417928 -1.38835,0.843589 -0.67526,0.578692 -1.05515,1.427855 -1.63517,2.088397 -1.1008,1.497641 -2.20934,2.990183 -3.39842,4.419776 -1.3394,1.667521 -2.71775,3.309363 -4.22457,4.829423 -0.7752,0.77334 -1.51714,1.6256 -2.516652,2.11465 -0.98008,0.3919 -2.027008,0.58015 -3.056635,0.79462 -1.835733,0.31813 -3.687343,0.48674 -5.553173,0.39506 -2.088858,-0.11729 -4.040725,-0.41839 -6.038288,-1.06217 1.90094,0.74151 3.803961,1.4777 5.702822,2.22454 0.253077,0.0995 -0.513117,-0.18095 -0.765339,-0.28263 -0.232284,-0.0936 -0.461847,-0.19446 -0.687492,-0.30315 -0.685295,-0.33005 -1.333738,-0.73152 -1.999845,-1.09704 -0.793745,-0.53193 -1.273227,-0.81035 -1.466631,-1.801 0.01527,-0.0771 0.0082,-0.1622 0.04605,-0.2311 0.09334,-0.16985 0.483071,-0.55025 0.600605,-0.66352 0.440597,-0.4246 0.910991,-0.8177 1.406832,-1.1763 0.910827,-0.61733 1.860018,-1.16148 2.92509,-1.46752 0.396306,-0.17275 0.651701,-0.34623 0.783512,-0.795038 0.132582,-0.451422 -0.163332,-0.626173 -0.52047,-0.795017 -0.781812,-0.425402 -1.59115,-0.896277 -2.001196,-1.723427 0.0029,-0.12674 -0.01853,-0.256245 0.0087,-0.379994 0.0733,-0.333592 0.298794,-0.66968 0.47813,-0.945314 0.368842,-0.566918 0.780043,-1.106445 1.213008,-1.625515 0.709515,-0.738743 1.473785,-1.349427 2.518053,-1.506324 0.767908,-0.119644 1.547488,-0.220516 2.325756,-0.201474 z" 
					/>
				</g>
			<g
				id="g48-0"
				transform="translate(-2.7030609,-2.67036)"
			>
			  <path
				:style="{
					fill: palette [1],
					'fill-opacity': 1,
					stroke: 'none'
				}"
				 style1="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.31109;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.2;stroke-dasharray:none;paint-order:normal"
				 id="path42-2"
				 d="m 39.258522,12.172337 c -0.804966,-0.16767 -1.602208,-0.33174 -2.42324,-0.40979 -2.676703,-0.0795 -5.346158,0.20856 -8.002392,0.50276 -2.853446,0.31798 -5.692025,0.75991 -8.474571,1.47139 -1.800982,0.50294 -3.625493,1.0942 -5.214283,2.10771 -0.252779,0.1613 -0.489013,0.34708 -0.733521,0.52062 -1.023586,0.84517 -1.968374,1.90751 -2.109386,3.28958 -0.02849,0.27921 0.0069,0.56126 0.01037,0.8419 0.08539,0.30043 0.133328,0.61412 0.256194,0.90125 0.778963,1.82029 2.57941,2.92926 4.206764,3.8846 0.385284,0.19043 0.766262,0.38981 1.155854,0.57126 0.627452,0.29224 1.495618,0.64934 2.148652,0.89933 3.107655,1.18952 6.062867,2.42385 9.19392,3.40558 1.262899,0.41509 2.563727,0.68009 3.87212,0.90094 1.034871,0.15965 2.079086,0.25518 3.121378,0.35454 0.906357,0.1142 1.818898,0.10819 2.73036,0.10606 2.858465,-0.0308 -4.589702,-2.5895 -6.258491,-3.40554 -0.08399,-0.041 -0.181044,0.0484 -0.273546,0.062 -0.321791,0.0469 -0.647019,0.0667 -0.969809,0.1064 -2.440463,0.24814 -4.889179,0.397 -7.330383,0.63661 -1.748371,0.1976 -3.528943,0.41093 -5.150798,1.14089 -0.335128,0.15075 -0.652859,0.33767 -0.979287,0.50649 -1.465502,0.83768 -2.772234,1.95408 -3.740761,3.34488 -0.165169,0.23718 -0.306081,0.49038 -0.45912,0.735578 -0.96208,1.818563 -0.758841,3.450839 -0.330536,5.382307 0.39542,1.47526 0.968724,2.924976 1.892243,4.154857 0.176752,0.235378 0.375862,0.453096 0.563793,0.679639 1.356982,1.472614 3.072223,2.501053 4.848753,3.382868 3.57918,1.563235 7.195001,3.175659 11.047864,3.890391 1.510365,0.319519 3.034864,0.290874 4.563903,0.180206 1.369565,-0.138741 2.753273,-0.28367 4.088917,-0.633086 0.873774,-0.228595 1.341783,-0.421752 2.194844,-0.731863 1.460944,-0.598025 2.874078,-1.287072 4.111489,-2.279123 0.731546,-0.58649 0.979481,-0.875355 1.635339,-1.538846 1.37778,-1.461943 2.436082,-3.176654 3.528602,-4.851659 0.9175,-1.368308 1.922767,-2.675989 3.030425,-3.895284 0.905582,-0.881847 1.999722,-1.57125 3.171725,-2.0395 0.84972,-0.262749 1.631336,-0.337406 2.485038,-0.08274 2.379395,1.061167 0.135328,0.05368 -6.075571,-2.287395 -0.09076,-0.0342 0.180207,0.0727 0.266068,0.11784 0.288124,0.15147 0.487853,0.349177 0.701792,0.589426 0.548951,0.766664 0.662243,1.70405 0.73995,2.617674 0.0513,1.020371 0.119126,2.039824 0.176789,3.05986 0.103302,1.448161 0.252571,2.893621 0.429179,4.334696 0.06999,0.449165 0.08994,0.674616 0.210353,1.101606 0.760927,2.698369 5.043494,4.724249 7.464505,3.2393 0.601081,-0.333204 1.177868,-0.700788 1.730604,-1.109275 1.004254,-0.808011 1.914657,-1.729757 2.774509,-2.687946 1.053153,-1.241988 1.756798,-2.713868 2.438815,-4.178435 0.642522,-1.379574 1.181129,-2.802438 1.664147,-4.244517 0.16535,-0.510299 0.312732,-1.02628 0.489803,-1.532787 0.03309,-0.09473 0.06286,-0.191029 0.104382,-0.282374 0.01473,-0.03251 0.06688,-0.12201 0.06326,-0.08641 -0.01146,0.111651 -0.05842,0.216627 -0.08763,0.32493 -8.137784,-3.551148 -7.072107,-4.563588 -6.303877,-1.383648 0.210018,0.822173 0.585827,1.585845 0.997926,2.322762 0.617614,0.971421 1.240381,1.939212 1.846048,2.918237 0.682109,1.097631 1.39155,2.177182 2.121868,3.243166 0.84112,1.218399 1.77564,2.365975 2.73929,3.488352 0.855376,1.00458 1.810745,1.911453 2.840422,2.733839 0.8833,0.736464 1.877474,1.274684 2.929681,1.723093 3.611279,1.001814 7.097017,3.16489 10.889817,3.785782 0.282547,0.04623 0.569053,0.06383 0.853581,0.09559 1.573957,0.186244 3.084129,0.05109 4.59703,-0.40029 1.666975,-0.615923 3.322734,-1.265124 4.969754,-1.93259 2.08817,-0.829343 4.1101,-1.796475 6.05624,-2.917351 1.62398,-0.980364 3.02807,-2.226738 4.22847,-3.68719 0.71928,-1.005541 1.116,-2.1843 0.93002,-3.42766 -0.0368,-0.245866 -0.1138,-0.484031 -0.17068,-0.726041 -0.56328,-1.620848 -1.7494,-2.58002 -3.15235,-3.461975 -2.8159,-1.519956 -5.98308,-2.478102 -8.94546,-3.528614 -0.32124,-0.11384 -0.6663,-0.14438 -1.00119,-0.20782 -0.829949,-0.1571 -1.289439,-0.21631 -2.125156,-0.33971 -0.967928,-0.13493 -1.940652,-0.2771 -2.92131,-0.25026 -0.894276,0.0245 -1.775004,0.17984 -2.651955,0.34091 -1.621351,0.37969 -2.427548,0.944946 -3.396638,2.271745 -0.759899,1.277999 -1.157964,2.723384 -1.448084,4.170237 -0.261079,1.419181 -0.155657,2.570138 0.306209,3.92705 0.700835,1.66616 2.066577,2.796432 3.491247,3.830262 3.439662,2.320491 7.422398,3.439952 11.286707,4.900155 1.49586,0.468024 3.03014,0.240271 4.51241,-0.151291 1.84605,-0.61818 3.31636,-1.905663 4.69792,-3.229686 0.95629,-1.061772 1.81667,-2.241514 2.36841,-3.569609 0.34919,-0.840533 0.37633,-1.161337 0.56442,-2.040667 0.1462,-1.2052 0.301,-2.45854 0.062,-3.665307 -0.13948,-0.704028 -0.27015,-0.903719 -0.55668,-1.551484 -0.76363,-1.516909 -1.84558,-2.516045 -3.23884,-3.440665 -2.91203,-1.49857 -1.54194,-0.82758 -8.01076,-3.12219 -0.23638,-0.0838 -1.25321,-0.14203 -1.50532,-0.13493 -0.51443,0.0146 -0.94073,0.11147 -1.44369,0.20295 -0.982079,0.26719 -2.047603,0.67974 -2.363217,1.75363 -0.04837,0.16457 -0.04983,0.33942 -0.07474,0.50916 0.0473,1.156523 0.762318,1.713472 1.814308,2.120005 7.577289,2.92813 5.367999,2.371818 9.677989,3.287797 2.80278,0.526111 5.63606,0.900057 8.48682,1.022531 1.89098,0.08133 2.80736,0.04288 4.70839,0.0189 5.53759,-0.115659 11.05371,-0.600704 16.55287,-1.234666 3.73672,-0.467483 7.48798,-0.863409 11.19865,-1.517665 1.62168,-0.285927 2.04411,-0.400841 3.58539,-0.752558 0,0 -6.21562,-3.109744 -6.21562,-3.109744 v 0 c -4.75012,1.146705 -9.59631,1.792051 -14.44706,2.349529 -1.11922,0.117646 -2.23692,0.251029 -3.35769,0.352992 -4.43182,0.403108 -8.88576,0.608632 -13.3328,0.731884 -1.90726,0.0022 -2.80733,0.03089 -4.70163,-0.07658 -2.86397,-0.162568 -5.71111,-0.571898 -8.51736,-1.160322 -3.638389,-0.904421 -2.02251,-0.590843 3.25921,1.594818 0.32008,0.13239 -0.65746,-0.220829 -0.9761,-0.356761 -0.27877,-0.11892 -0.65836,-0.29729 -0.83937,-0.577017 -0.0597,-0.09224 -0.0706,-0.208127 -0.10588,-0.312174 -0.005,-0.09548 -0.0329,-0.19239 -0.0156,-0.286457 0.13933,-0.761922 1.42354,-0.973116 2.01741,-1.108098 0.58901,-0.06038 0.76745,-0.104555 1.36277,-0.06113 2.36035,0.17257 6.79688,2.403984 -4.42254,-2.014574 -0.2416,-0.0952 0.48648,0.18167 0.72972,0.2726 1.37839,0.77732 2.53033,1.658395 3.33977,3.052485 0.26263,0.47836 0.48001,0.807384 0.62674,1.339026 0.3082,1.11662 0.16412,2.316203 0.0553,3.446487 -0.1566,0.800676 -0.17631,1.110614 -0.49124,1.872828 -0.51858,1.255133 -1.35371,2.356405 -2.28113,3.334349 -1.34053,1.239537 -2.76529,2.429507 -4.58193,2.87015 -1.459739,0.288293 -2.905146,0.352937 -4.320889,-0.194777 1.94168,0.752363 3.885749,1.498569 5.825029,2.257078 0.2548,0.09969 -0.51734,-0.178931 -0.7714,-0.280451 -1.14542,-0.457816 -2.226789,-1.058369 -3.274952,-1.704676 -1.385252,-0.910254 -2.733858,-1.90656 -3.536388,-3.398854 -0.523245,-1.226867 -0.647707,-2.228239 -0.436995,-3.553807 0.246709,-1.3434 0.593875,-2.696294 1.333498,-3.861282 0.126236,-0.157653 0.240983,-0.325297 0.378725,-0.473046 0.728749,-0.781634 1.7389,-1.132227 2.764343,-1.325524 0.66339,-0.102179 0.97036,-0.165484 1.651089,-0.203083 1.26536,-0.06988 2.52258,0.100774 3.77039,0.29162 0.79589,0.132745 1.32085,0.207133 2.1074,0.391691 0.33348,0.0782 1.30902,0.396542 0.99304,0.264271 -10.340827,-4.328925 -6.40418,-2.539408 -4.1484,-1.57436 1.31419,0.717972 2.59833,1.529266 3.26762,2.929404 0.0685,0.200988 0.15612,0.396434 0.20541,0.602973 0.25204,1.05609 -0.0898,2.056361 -0.71173,2.911043 -1.1495,1.391541 -2.5098,2.562209 -4.07368,3.474332 -1.931969,1.093484 -3.940636,2.030665 -6.01459,2.825228 -1.652772,0.634479 -3.297257,1.303609 -4.988709,1.827873 -1.46724,0.325319 -2.955588,0.397968 -4.446386,0.159663 -0.84026,-0.148019 -0.822097,-0.127292 -1.655267,-0.345485 -2.577177,-0.675167 -7.914674,-2.905167 3.11661,1.372715 C 86.858244,51.386714 85.836271,50.951105 84.955885,50.249885 83.89831,49.486742 82.920446,48.628183 82.052589,47.651556 81.08908,46.557284 80.143495,45.446075 79.310038,44.247637 78.586196,43.189721 77.858438,42.13565 77.185245,41.044175 76.598838,40.06056 75.990173,39.090123 75.351303,38.1397 74.936205,37.470624 74.57699,36.779579 74.340479,36.025564 c -0.907835,-3.392597 0.526444,-1.505245 -7.044322,-4.101497 -0.411735,0.7331 -0.522678,1.57582 -0.787509,2.36878 -0.453019,1.422346 -0.980447,2.819655 -1.608938,4.174602 -0.650965,1.402158 -1.33574,2.806023 -2.37089,3.972458 -0.849065,0.917004 -1.742119,1.80571 -2.777978,2.513259 -0.499236,0.329888 -1.010742,0.721288 -1.614398,0.816295 -2.047923,-1.441874 -0.329591,-0.213938 6.263062,2.497036 0.07612,0.03132 -0.173224,-0.01458 -0.23777,-0.06654 -0.354758,-0.280614 -0.36308,-0.900987 -0.471897,-1.282018 -0.212803,-1.413651 -0.349888,-2.836796 -0.423297,-4.264574 -0.03485,-1.027144 -0.122491,-2.050615 -0.166606,-3.077208 -0.06191,-1.013815 -0.152766,-2.043172 -0.597564,-2.973214 -0.161332,-0.296393 -0.535386,-0.942127 -0.867945,-1.075964 -6.587273,-2.651102 -4.517506,-2.284102 -7.275285,-2.742542 -0.910823,-0.0578 -1.807352,0.11219 -2.64382,0.48225 -1.202164,0.59893 -2.346729,1.34143 -3.26968,2.327334 -1.095138,1.268679 -2.104441,2.611593 -3.029919,4.008956 -1.063066,1.633896 -2.084021,3.314475 -3.442932,4.726452 -0.630344,0.617565 -0.878419,0.898729 -1.58276,1.435782 -1.212326,0.924371 -2.599441,1.560168 -4.016947,2.100364 -0.939941,0.308502 -1.216747,0.424992 -2.171882,0.639783 -1.334957,0.300185 -2.704782,0.434767 -4.067389,0.525885 -1.5169,0.05131 -3.027237,-0.01998 -4.513232,-0.357679 -0.709124,-0.156746 -1.408131,-0.325934 -2.099293,-0.551419 -0.244633,-0.07982 -0.968788,-0.347234 -0.729267,-0.253189 14.637873,5.747461 6.44612,2.5006 4.939425,1.90292 -1.77566,-0.793925 -3.492953,-1.732651 -4.901142,-3.098777 -0.473027,-0.501409 -0.700646,-0.705389 -1.095656,-1.272134 -0.682403,-0.979068 -1.13152,-2.099025 -1.476656,-3.234375 -0.283633,-1.107233 -0.566538,-2.289827 -0.355449,-3.440557 0.102255,-0.557402 0.290535,-0.893047 0.520207,-1.403195 1.038053,-1.653122 2.247299,-2.830099 3.996733,-3.736701 0.31821,-0.1442 0.62934,-0.30519 0.954629,-0.43262 1.603808,-0.62832 3.337341,-0.79811 5.031599,-1.00767 2.478574,-0.24394 4.963219,-0.40954 7.448215,-0.5732 0.03797,-0.002 0.89495,-0.0641 1.016925,-0.0644 0.08863,-1.6e-4 0.342462,0.0655 0.264966,0.0226 -1.604457,-0.89088 -4.069783,-3.4495 -6.51713,-3.38413 -0.885501,0.005 -1.768388,-0.0449 -2.64823,-0.14766 -1.036149,-0.10965 -2.073966,-0.21633 -3.099556,-0.40425 -1.275941,-0.23814 -2.536977,-0.54372 -3.769707,-0.95381 -2.335714,-0.76747 -6.341137,-2.39944 3.877303,1.58057 0.350505,0.13656 -0.706097,-0.25977 -1.05638,-0.39686 -1.139184,-0.44585 -1.1667,-0.47511 -2.297401,-0.98268 -1.551146,-0.82878 -3.333426,-1.79263 -4.259844,-3.36792 -0.129272,-0.21984 -0.200217,-0.46911 -0.300325,-0.70364 -0.02195,-0.22242 -0.07547,-0.44398 -0.06583,-0.66726 0.05203,-1.20754 1.008762,-2.09682 1.879623,-2.80041 1.778145,-1.19902 3.677808,-1.91805 5.756007,-2.43662 2.762108,-0.66655 5.570929,-1.09942 8.395426,-1.4046 2.677281,-0.27983 5.387054,-0.56579 8.075762,-0.2719 0.82869,0.14239 1.654766,0.3155 2.464151,0.54339 z" />
			  <path
				:style="{
					fill: palette [1],
					'fill-opacity': 1,
					stroke: 'none'
				}"
				 style1="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.31109;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.2;stroke-dasharray:none;paint-order:normal"
				 id="path43-37"
				 d="m 46.107024,64.120125 c 1.689469,0.146387 3.36461,0.418554 5.039925,0.67466 0.555864,0.100342 1.113245,0.192821 1.667597,0.301329 0.9426,0.184505 2.203331,0.454684 3.129227,0.732651 0.513408,0.154197 2.022892,0.710228 1.521556,0.520485 -5.807476,-2.197942 -6.077874,-2.423729 -3.060778,-0.875334 2.385945,1.409525 4.657588,3.063403 6.612947,5.036714 0.320113,0.323051 0.617917,0.667477 0.926877,1.001199 1.665062,1.928595 2.456146,4.319196 3.049443,6.750151 0.488032,2.081981 0.591528,4.218173 0.656139,6.346696 0.165186,2.888749 -0.0971,5.768134 -0.362521,8.641491 -0.255801,2.462742 -0.502172,4.928671 -0.929109,7.368693 -0.140583,1.03628 -0.497824,2.02591 -0.683028,3.05209 -0.522549,2.77754 -0.313127,0.90369 6.92639,2.472 0.176861,0.0383 0.163587,-0.32285 0.244021,-0.48495 0.467034,-0.94122 0.899658,-1.89635 1.3312,-2.85428 1.526426,-3.351398 3.114455,-6.671749 4.804866,-9.943409 1.356857,-2.674055 2.88413,-5.254778 4.554029,-7.743961 1.186273,-1.791917 2.54629,-3.45044 3.967916,-5.057787 1.015357,-1.084627 2.011321,-2.198471 3.172049,-3.133276 0.864504,-0.69623 1.145506,-0.843114 2.093069,-1.458897 1.520108,-0.93043 3.084699,-1.808561 4.748188,-2.458735 0.959917,-0.375198 1.538019,-0.533824 2.524518,-0.838588 1.855746,-0.556755 3.738475,-1.02035 5.665515,-1.246558 1.30885,-0.153656 2.47387,-0.206171 3.79295,-0.287709 0.69915,-0.03824 1.39813,-0.0795 2.09744,-0.114384 2.81343,-0.140566 5.6192,-0.219576 8.43661,-0.121837 2.89392,0.100343 6.69073,0.374832 9.52908,0.561097 5.37339,0.363469 10.74311,0.778999 16.11747,1.128361 3.52936,0.229405 5.65344,0.378234 9.1541,0.446054 1.36483,0.02657 2.73016,0.0076 4.09522,0.01091 2.40551,-0.08965 4.8095,-0.106391 7.19679,-0.467775 1.91721,-0.290248 4.11424,-0.75327 5.74163,-1.919122 2.11828,-1.517525 2.83713,-3.207155 4.17566,-5.377317 1.73456,-3.322295 3.1004,-6.813758 4.49464,-10.286275 0,0 -6.14596,-2.364279 -6.14596,-2.364279 v 0 c -1.32277,3.455959 -2.62196,6.933056 -4.43787,10.1712 -1.38005,2.087576 -2.0293,3.566455 -4.14103,4.976163 -0.78549,0.524373 -1.69047,0.861476 -2.59058,1.147468 -0.96172,0.305532 -1.96562,0.468499 -2.96371,0.617187 -2.38259,0.354925 -4.64835,0.375479 -7.05305,0.471253 -1.34438,-2.92e-4 -2.68893,0.02095 -4.03313,-9.61e-4 -8.38686,-0.136019 -16.74719,-0.967716 -25.11174,-1.515722 -2.47644,-0.187615 -7.25169,-0.569932 -9.84316,-0.692319 -2.90408,-0.13711 -5.79839,-0.09527 -8.70049,0.03834 -0.70617,0.03251 -1.41191,0.07377 -2.11786,0.11056 -1.448909,0.09105 -2.453439,0.130197 -3.882858,0.309949 -1.962301,0.246687 -3.880908,0.730685 -5.766504,1.318234 -1.068434,0.347364 -1.527349,0.472992 -2.563052,0.902855 -1.677008,0.696024 -3.249799,1.61548 -4.791937,2.56667 -0.963713,0.634739 -1.29036,0.81313 -2.170718,1.531913 -1.175797,0.960025 -2.175325,2.10975 -3.210874,3.212847 -1.448737,1.626444 -2.824912,3.315232 -3.994571,5.157514 -1.628886,2.537335 -3.108877,5.165486 -4.449374,7.866846 -1.670716,3.292549 -3.279562,6.615244 -4.929199,9.91831 -0.457615,0.92525 -0.901521,1.86184 -1.453447,2.73637 -0.07683,0.12184 -0.381778,0.29717 -0.249022,0.35285 2.19627,0.92122 4.541669,1.45473 6.74045,2.36996 0.123999,0.0516 -0.117325,0.24161 -0.175988,0.36243 -0.0319,-0.32944 0.06669,-0.65984 0.135709,-0.98007 0.14693,-0.6817 0.303703,-1.36185 0.395989,-2.05402 0.376428,-2.47532 0.549129,-4.97416 0.810665,-7.463138 0.26562,-2.887226 0.604189,-5.779918 0.494161,-8.684242 C 72.28729,84.701735 72.198335,82.516074 71.705441,80.385207 71.114737,77.863026 70.352252,75.351388 68.717708,73.28793 68.408572,72.936646 68.113382,72.572583 67.790305,72.234065 65.836014,70.186453 63.51557,68.505529 61.137147,66.991881 60.584119,66.685777 60.060628,66.318863 59.478066,66.073591 58.107848,65.496703 52.827302,63.23065 49.8679,62.420295 48.289283,61.988024 46.667301,61.733949 45.058388,61.448421 43.64322,61.220075 43.324237,61.167527 41.963112,60.951764 c -0.221014,-0.0351 -1.228149,-0.18593 -1.581918,-0.260491 -0.31712,-0.06675 -0.303268,-0.07345 -0.560599,-0.184018 z" />
			  <path
				:style="{
					fill: palette [1],
					'fill-opacity': 1,
					stroke: 'none'
				}"
				 style1="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.31109;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.2;stroke-dasharray:none;paint-order:normal"
				 id="path44-5"
				 d="m 89.356715,89.105215 c -0.78023,0.09678 -1.559445,0.184429 -2.330052,0.346738 -1.134129,0.30822 -1.931361,1.082963 -2.677786,1.946675 -0.580919,0.871337 -1.516942,1.768749 -1.810868,2.795784 -0.05235,0.182949 -0.05986,0.375836 -0.08979,0.563754 0.08138,1.154316 0.87865,1.877397 1.771551,2.495631 0.199142,-0.01458 0.327337,0.290918 0.53075,0.303479 0.11667,0.0076 0.206195,-0.326355 -0.032,-0.311936 -0.08668,0.0054 -0.168151,0.04342 -0.252234,0.06513 -1.078972,0.369765 -2.019292,1.01375 -2.933983,1.678797 -0.513686,0.388991 -1.007288,0.805083 -1.470504,1.253203 -0.16195,0.15674 -0.554221,0.53944 -0.66729,0.75332 -0.08005,0.15148 -0.10772,0.3252 -0.161605,0.48779 -0.07199,0.80541 0.173733,1.6091 0.748331,2.19567 0.158877,0.16221 0.344762,0.29549 0.517145,0.44323 3.268062,2.24922 7.193384,3.28509 10.860364,4.65843 1.276547,0.30776 2.549883,0.63958 3.860325,0.76713 0.874527,0.0851 1.348018,0.0819 2.230598,0.10509 1.916204,0.082 3.802763,-0.16275 5.681953,-0.50046 1.09037,-0.24155 2.21989,-0.39361 3.20869,-0.93636 1.00435,-0.61007 1.75591,-1.53018 2.55415,-2.37446 1.46487,-1.5787 2.84103,-3.23882 4.18732,-4.91919 1.21729,-1.424855 2.34345,-2.921793 3.47247,-4.416215 0.57794,-0.618429 0.93448,-1.4673 1.62945,-1.976746 0.3713,-0.272188 0.84198,-0.459663 1.25311,-0.648877 0.67708,-0.275623 1.36943,-0.511563 2.09304,-0.627923 0.48222,-0.07744 0.97042,-0.0998 1.453,-0.178748 0.10982,-0.07453 0.24116,-0.124569 0.32942,-0.223562 0.88125,-0.989177 -0.48497,-1.939449 -1.17409,-2.443915 -0.90654,-0.604086 -1.89392,-1.073221 -2.91031,-1.460172 -7.37485,-2.80773 -4.79196,-2.119979 -8.00855,-2.941458 -1.67828,-0.246871 -3.28113,0.356901 -4.80509,0.988497 -1.78666,0.769396 -3.41607,1.814437 -4.99151,2.943176 -0.87136,0.623009 -1.682709,1.341726 -2.276399,2.242377 -0.37481,0.568615 -0.44868,0.799057 -0.72616,1.416524 -0.606737,1.603297 -0.482468,3.006892 -0.06443,4.626477 0.518707,1.849015 1.805529,2.943485 3.277069,4.058665 1.56202,1.14156 3.31933,1.95789 5.09433,2.70512 2.444,0.93718 4.88469,1.88305 7.33201,2.81155 1.25774,0.47722 2.05068,0.65794 3.39435,0.57265 1.44428,-0.0846 2.4034,-0.77831 3.41107,-1.74743 0.90015,-0.95155 1.4411,-1.84438 1.68567,-3.13156 0.0559,-0.85652 -0.0327,-1.25084 0.66278,-1.81751 0.69725,-0.31579 1.49856,-0.064 2.14352,0.26717 -2.0894,-0.79798 -4.17349,-1.61002 -6.26821,-2.393919 -0.1302,-0.04871 0.25244,0.117473 0.37251,0.187573 0.53677,0.313216 0.91838,0.741466 1.28739,1.231826 0.44578,0.64226 0.7532,1.3634 1.00924,2.09821 0.19598,0.65666 0.27929,1.33496 0.49646,1.98579 0.28639,0.83692 0.54625,1.22244 1.29679,1.70477 2.62747,1.21831 5.91739,3.24081 9.06603,2.84672 0.21957,-0.0274 0.43533,-0.0798 0.65299,-0.11966 1.6486,-0.40012 3.09649,-1.3489 4.49028,-2.28104 1.64019,-1.07833 2.8417,-2.60347 3.94391,-4.19673 1.06635,-1.6062 1.96547,-3.312767 2.8994,-4.996932 1.09452,-1.994654 2.35871,-3.88781 3.69008,-5.730449 0.5145,-0.687307 1.00028,-1.402007 1.56167,-2.053358 0.11163,-0.129473 0.4813,-0.568365 0.71907,-0.628992 0.0727,-0.01858 0.14281,0.04601 0.2142,0.06891 1.40238,2.167947 0.17392,0.169664 -6.30738,-2.238792 -0.0779,-0.02895 0.13941,0.09105 0.20275,0.144746 0.27328,0.231771 0.42668,0.552294 0.59947,0.858592 0.61739,1.129646 1.17851,2.288445 1.7577,3.437727 0.80297,1.618613 1.80191,3.123911 2.79313,4.630279 1.11329,1.679002 2.27448,3.325352 3.42252,4.980599 1.19457,1.69111 2.4727,3.32347 3.78686,4.92307 0.64023,0.76958 1.35645,1.46713 1.9781,2.25197 1.96092,2.52804 3.88992,2.13439 7.87052,3.61517 0.50914,-0.14875 0.83122,-0.48949 1.06402,-0.94911 0.27199,-0.69846 0.27471,-1.45605 0.23958,-2.19376 -0.0706,-0.95413 -0.17232,-1.90377 -0.32331,-2.8485 -0.18017,-1.23515 -0.44544,-2.15166 -1.11407,-3.2119 -0.71469,-0.93691 -1.74214,-1.50416 -2.82676,-1.91471 -2.4426,-0.92458 -4.89131,-1.832926 -7.33696,-2.74938 -0.27663,-0.06416 -0.54957,-0.147295 -0.8299,-0.192778 -0.63077,-0.102179 -1.44777,-0.125466 -2.07693,-0.144562 -1.14641,-0.03478 -2.28247,-0.01091 -3.42773,0.04018 -0.98325,0.0782 -1.97495,0.145113 -2.94916,0.308383 -0.25143,0.04223 -0.81867,0.150384 -1.07778,0.309679 -0.0898,0.05509 -0.14727,0.150751 -0.2209,0.226089 -0.0404,0.184861 -0.13243,0.365672 -0.1213,0.554573 0.008,0.133653 0.0509,0.311979 0.17528,0.361232 2.37658,0.940534 4.7954,1.774364 7.22515,2.567454 0.244,0.0796 0.51256,0.0284 0.76887,0.0418 0.89022,0.0469 0.92779,0.0476 1.83034,0.0907 1.85952,0.12457 3.7188,0.10947 5.57888,0.0245 1.76517,-0.0553 3.34375,-0.52696 4.94425,-1.23611 1.92433,-1.06706 3.69458,-2.396605 5.43972,-3.731429 1.3164,-0.97343 2.58351,-2.008328 3.76009,-3.146724 0.89116,-0.949278 1.73743,-1.938768 2.62369,-2.893058 0.37948,-0.373147 0.7089,-0.794272 1.08471,-1.170745 0.12785,-0.128015 0.33973,-0.410496 0.46504,-0.279986 0.0636,0.06621 0.0282,0.18148 0.0423,0.272166 -2.18506,-0.863679 -4.36119,-1.750224 -6.55514,-2.591049 -0.0469,-0.01815 0.0777,0.06924 0.0968,0.115832 0.0303,0.07442 0.0399,0.156206 0.0469,0.236047 0.0373,0.424755 -0.0276,0.868303 -0.0654,1.28986 -0.1453,1.386129 -0.22888,2.777314 -0.36466,4.164286 -0.18056,1.560557 -0.29636,3.128393 -0.57485,4.675557 -0.30489,1.551138 -0.74109,3.077263 -1.34651,4.537553 -0.57214,1.25522 -1.23316,2.46678 -1.90262,3.67195 -0.40319,0.78593 -0.83745,1.55804 -1.21753,2.35538 -0.18785,0.39906 -0.4102,0.78051 -0.67391,1.13387 -0.0306,0.0409 -0.0501,0.15111 -0.0927,0.12238 -0.0447,-0.0301 0.0283,-0.10424 0.0424,-0.1562 2.24437,0.91072 4.45319,1.9145 6.7331,2.73215 0.0942,0.0338 0.0848,-0.18148 0.12912,-0.27116 0.068,-0.13783 0.13456,-0.27655 0.20797,-0.41164 0.32999,-0.60752 0.71032,-1.19017 1.06767,-1.78161 0.15711,-0.25446 0.31446,-0.50876 0.47125,-0.76341 0.36465,-0.59232 0.69119,-1.10462 1.01407,-1.72417 0.51462,-0.98744 0.92465,-2.02563 1.34929,-3.05335 0.64298,-1.72289 1.29198,-3.44512 1.88524,-5.185981 0.44942,-1.351534 1.02549,-2.653123 1.63628,-3.937852 0.43996,-0.699351 0.6686,-1.737911 1.45967,-2.137347 0.0644,0.01912 0.13602,0.02214 0.1933,0.05725 0.0726,0.04439 0.26591,0.203352 0.18579,0.174751 -2.15323,-0.766048 -4.27793,-1.610167 -6.42459,-2.394404 -0.0992,-0.03618 0.19202,0.08987 0.27915,0.149293 0.19773,0.135112 0.31624,0.282277 0.47712,0.455732 0.57155,0.648748 0.76433,1.482497 0.95806,2.30119 0.32187,1.470832 0.80011,2.8893 1.37584,4.277903 0.81097,1.758035 1.61782,3.517805 2.42073,5.279535 0.53211,1.15637 1.05972,2.31475 1.56949,3.48114 0.34788,0.79722 0.69534,1.59475 1.03196,2.39681 0.2678,0.68988 0.60869,1.34677 0.94877,2.00278 1.88429,3.40548 0.28067,1.26639 7.76484,4.07733 0.13838,-0.092 0.28691,-0.17039 0.4154,-0.27579 1.00533,-0.82488 1.84866,-2.48602 2.47751,-3.60258 1.24255,-2.11637 2.22334,-4.36587 3.13696,-6.63875 0.79163,-1.91638 1.26709,-3.93228 1.65985,-5.961188 0.31013,-1.719312 0.4375,-3.463294 0.63398,-5.197522 0.11856,-1.107763 0.36757,-2.19185 0.73928,-3.240628 0.25326,-0.67278 0.5213,-1.344675 0.87964,-1.969142 0.38065,-0.578335 0.54923,-1.226921 0.14219,-1.859737 -0.12456,-0.193664 -0.30215,-0.347569 -0.45322,-0.521338 -0.22753,-0.175485 -0.44432,-0.365801 -0.68257,-0.526403 -0.56163,-0.378623 -1.34422,-0.794369 -1.96462,-1.038215 -2.58279,-1.015219 -5.17257,-2.013415 -7.77706,-2.971561 -0.66075,-0.243069 -2.29441,-0.635311 -2.96252,-0.803766 -3.72721,-0.794368 -7.56985,-0.817148 -11.3641,-0.740427 -5.4462,0.205448 -10.88069,0.653522 -16.30534,1.168033 -5.18673,0.610188 -10.38982,1.049599 -15.58935,1.530195 0,0 5.8769,3.043551 5.8769,3.043551 v 0 c 5.22909,-0.470303 10.46169,-0.900749 15.67984,-1.485684 5.4612,-0.512264 10.93381,-0.969897 16.42149,-1.045213 3.79941,-0.02257 7.64481,0.0086 11.35188,0.946405 0.50383,0.137466 1.01084,0.263666 1.5115,0.412203 0.48645,0.144378 1.91737,0.661374 1.44905,0.466133 -1.70872,-0.712334 -3.44567,-1.35513 -5.17382,-2.018935 -0.35899,-0.137833 0.71662,0.280343 1.06598,0.441075 0.29404,0.135295 0.58114,0.286068 0.86243,0.446162 0.22923,0.13038 0.44509,0.283054 0.66764,0.424581 0.2174,0.15438 0.96641,0.529568 0.82849,0.940745 -0.0128,0.03651 -0.26819,0.489961 -0.28026,0.511509 -0.36485,0.668622 -0.63713,1.381798 -0.89302,2.098258 -0.38024,1.106467 -0.64877,2.245532 -0.74511,3.414505 -0.16621,1.721245 -0.29241,3.448809 -0.58432,5.154943 -0.35772,1.99096 -0.81555,3.964851 -1.57012,5.848301 -0.88469,2.24804 -1.84317,4.4726 -3.10325,6.54086 -0.46629,0.78134 -0.6152,1.06832 -1.1294,1.79262 -0.29045,0.40915 -0.73944,1.14506 -1.28404,1.29456 -0.09,0.0247 -0.18583,-0.0164 -0.27872,-0.0242 2.13014,0.85105 4.26719,1.68508 6.39046,2.55312 0.0737,0.0302 -0.17093,0.009 -0.23574,-0.0369 -0.21653,-0.15402 -0.46446,-0.93497 -0.64985,-1.16233 -0.37069,-0.61728 -0.69077,-1.26678 -0.98257,-1.92474 -0.33116,-0.81458 -0.69729,-1.61409 -1.04943,-2.41967 -0.52445,-1.17931 -1.07697,-2.34545 -1.62847,-3.51229 -0.82262,-1.74865 -1.63747,-3.50098 -2.44316,-5.25745 -0.5629,-1.343579 -1.04173,-2.711282 -1.34382,-4.139709 -0.19244,-0.887928 -0.32013,-1.822873 -0.82803,-2.59848 -1.78659,-2.6005 -2.94003,-1.896699 -7.62036,-3.560093 -0.10693,-0.03802 -0.22386,0.04806 -0.3271,0.09527 -0.10947,0.05022 -0.20316,0.129473 -0.30474,0.194161 -0.71427,0.68909 -1.09061,1.608276 -1.52434,2.485835 -0.61094,1.314831 -1.19969,2.643434 -1.65097,4.023051 -0.56031,1.735092 -1.17742,3.452325 -1.80746,5.163095 -0.78798,1.92919 -1.62407,3.70366 -2.83923,5.4101 -0.47183,0.72871 -0.94623,1.45325 -1.38807,2.20065 -0.053,0.0896 -0.25239,0.22151 -0.15956,0.26889 2.15068,1.09772 4.39196,2.00811 6.58794,3.01218 0.22741,-0.53595 0.61259,-0.99463 0.8274,-1.53931 0.38562,-0.78184 0.79358,-1.55264 1.17855,-2.335 0.65776,-1.23825 1.30074,-2.48479 1.88685,-3.75889 0.62268,-1.50719 1.07346,-3.07996 1.40543,-4.67638 0.28987,-1.563746 0.40186,-3.14826 0.58784,-4.726477 0.16202,-1.379832 0.2355,-2.767582 0.41401,-4.145687 0.52454,-4.098474 0.0406,-2.202867 -6.60818,-4.972922 -0.70277,0.542497 -1.23878,1.244786 -1.84295,1.890531 -0.86662,0.950952 -1.69517,1.936403 -2.59152,2.859532 -1.15691,1.106931 -2.39016,2.127907 -3.65872,3.104631 -1.7054,1.311526 -3.44665,2.621357 -5.39694,3.548892 -1.55201,0.605641 -3.15503,0.991425 -4.83116,1.012865 -1.84748,0.07269 -3.69333,0.03197 -5.53893,-0.08036 -0.6093,-0.03597 -1.23705,-0.06653 -1.84474,-0.128209 -0.26308,-0.02668 -1.02985,-0.203947 -0.7871,-0.09905 2.01127,0.868756 4.07871,1.601204 6.11807,2.401824 -0.0948,0.0562 -0.20632,0.0909 -0.28453,0.16857 -0.0948,0.0942 -0.14773,0.22286 -0.22158,0.3343 0.13809,-0.0333 0.27093,-0.0862 0.40919,-0.11857 1.13755,-0.26658 2.31848,-0.30325 3.47838,-0.38816 2.09702,-0.063 4.24719,-0.10639 6.26775,0.54186 -1.93858,-0.75348 -3.87952,-1.50093 -5.81576,-2.260423 -0.23168,-0.09094 0.46897,0.166748 0.70188,0.254475 0.79566,0.299568 1.55578,0.663748 2.18728,1.247208 0.75247,0.93973 1.02286,1.711 1.20823,2.89861 0.1489,0.91978 0.24522,1.84352 0.30863,2.77314 0.0517,0.59243 0.0924,1.22433 -0.12352,1.7897 -0.16799,0.23517 -0.43043,0.2792 -0.67828,0.12184 2.17401,0.82779 4.35471,1.63821 6.52202,2.48338 0.0665,0.026 -0.14344,-0.008 -0.21306,-0.0231 -0.39015,-0.0897 -0.64777,-0.40617 -0.90062,-0.69163 -0.26804,-0.32785 -0.51052,-0.68623 -0.79412,-1.0003 -0.4037,-0.4471 -0.88917,-0.81935 -1.26627,-1.29243 -1.36157,-1.55815 -2.64594,-3.18625 -3.84727,-4.87089 -1.15383,-1.64023 -2.27296,-3.30468 -3.40923,-4.957245 -0.97842,-1.481039 -1.9706,-2.956516 -2.77975,-4.540014 -0.57203,-1.140739 -1.10495,-2.300401 -1.68871,-3.43547 -0.17237,-0.342903 -0.31591,-0.718944 -0.51346,-1.048205 -1.36423,-2.273637 -4.86087,-3.873304 -7.35637,-2.914748 -1.12465,0.764093 -1.73065,2.079907 -2.55675,3.121783 -1.31721,1.881966 -2.58222,3.802211 -3.71763,5.800386 -0.94186,1.655791 -1.85015,3.332881 -2.89836,4.925303 -1.05853,1.5244 -2.24236,2.94595 -3.83242,3.94766 -1.35747,0.8699 -2.77789,1.73727 -4.4033,1.96544 -0.58977,0.0417 -1.14644,0.0642 -1.73043,-0.0529 -0.15456,-0.0309 -0.60417,-0.17694 -0.45766,-0.11875 5.42168,2.1504 8.4047,3.12216 5.84992,2.28365 -0.6844,-0.27425 -1.17098,-0.45028 -1.4182,-1.19929 -0.28487,-0.62997 -0.37347,-1.2679 -0.51165,-1.94109 -0.22903,-0.80695 -0.5654,-1.57933 -0.97399,-2.31181 -0.26335,-0.41603 -0.52138,-0.84534 -0.86513,-1.2024 -1.91405,-1.988154 -6.1806,-2.206898 -7.68463,-3.318377 -0.88833,-0.19941 -1.79443,-0.197974 -2.51377,0.440373 -0.64516,0.696056 -0.87224,1.301104 -0.80712,2.254684 -0.16144,1.12522 -0.67685,1.9063 -1.47808,2.7044 -1.01057,0.87765 -1.82167,1.27849 -3.18606,1.27327 -0.58407,-0.0306 -0.66584,-0.0109 -1.24003,-0.13839 -2.48879,-0.55434 -6.98092,-2.98723 3.77321,1.58244 -1.78471,-0.69322 -3.5509,-1.47127 -5.14788,-2.53833 -1.3686,-0.96113 -2.79339,-1.93839 -3.36006,-3.59126 -0.43776,-1.421705 -0.64483,-2.720237 -0.10171,-4.156808 0.26231,-0.577137 0.3052,-0.739855 0.66765,-1.264055 0.5725,-0.82795 1.35763,-1.470692 2.16095,-2.06214 1.53874,-1.095115 3.15318,-2.080123 4.91205,-2.786009 1.4955,-0.546418 3.04166,-1.01348 4.62957,-0.561215 2.70663,0.839517 0.65988,0.221714 -5.15975,-2.047817 -0.25095,-0.09786 0.50756,0.180756 0.75911,0.277081 0.63271,0.242323 0.89691,0.351101 1.49797,0.655855 0.22849,0.115831 0.45099,0.243122 0.67649,0.364678 0.20393,0.128198 0.40991,0.253113 0.61178,0.384455 0.28635,0.186319 0.54242,0.425348 0.85226,0.569241 0.0533,0.02473 0.12042,-0.0032 0.17546,0.01642 0.0877,0.03273 -0.80878,0.175107 -0.27094,0.07291 -1.23348,0.188879 -2.44149,0.467894 -3.56567,1.035579 -0.58494,0.303879 -0.89166,0.417928 -1.38835,0.843589 -0.67526,0.578692 -1.05515,1.427855 -1.63517,2.088397 -1.1008,1.497641 -2.20934,2.990183 -3.39842,4.419776 -1.3394,1.667521 -2.71775,3.309363 -4.22457,4.829423 -0.7752,0.77334 -1.51714,1.6256 -2.516652,2.11465 -0.98008,0.3919 -2.027008,0.58015 -3.056635,0.79462 -1.835733,0.31813 -3.687343,0.48674 -5.553173,0.39506 -2.088858,-0.11729 -4.040725,-0.41839 -6.038288,-1.06217 1.90094,0.74151 3.803961,1.4777 5.702822,2.22454 0.253077,0.0995 -0.513117,-0.18095 -0.765339,-0.28263 -0.232284,-0.0936 -0.461847,-0.19446 -0.687492,-0.30315 -0.685295,-0.33005 -1.333738,-0.73152 -1.999845,-1.09704 -0.793745,-0.53193 -1.273227,-0.81035 -1.466631,-1.801 0.01527,-0.0771 0.0082,-0.1622 0.04605,-0.2311 0.09334,-0.16985 0.483071,-0.55025 0.600605,-0.66352 0.440597,-0.4246 0.910991,-0.8177 1.406832,-1.1763 0.910827,-0.61733 1.860018,-1.16148 2.92509,-1.46752 0.396306,-0.17275 0.651701,-0.34623 0.783512,-0.795038 0.132582,-0.451422 -0.163332,-0.626173 -0.52047,-0.795017 -0.781812,-0.425402 -1.59115,-0.896277 -2.001196,-1.723427 0.0029,-0.12674 -0.01853,-0.256245 0.0087,-0.379994 0.0733,-0.333592 0.298794,-0.66968 0.47813,-0.945314 0.368842,-0.566918 0.780043,-1.106445 1.213008,-1.625515 0.709515,-0.738743 1.473785,-1.349427 2.518053,-1.506324 0.767908,-0.119644 1.547488,-0.220516 2.325756,-0.201474 z" />
			</g>
		  </g>
		</svg>
	</lounge>
</template>