


<template>
	<s_panel>
		<svg 
			ref="NETWORK" 
			
			:style="{
				width: '100vw',
				height: '500px',
				border: '1px solid #DDD',
				borderRadius: '4px',
				
				opacity: OPACITY,
				translate: 'opacity .3s'
			}"
		/>
	</s_panel>
</template>

<script>
/*


*/

import { field } from './field.js'
export default field;

</script>