


<template>
	<s_panel warning-panel>
		<p :style="{ margin: 0 }">warnings about foods</p>
		
		<div :style="{ height: '8px' }"></div>
		
		<p :style="{ margin: 0 }">
			<b>intended recipient:</b> <br />
			Something that is food for one species, group, or individual <br />
			might be unhealthy for another species, group, or individual.
		</p>
	</s_panel>
</template>