


<script>

import quantity_chooser from '@/scenery/quantity_chooser/decor.vue'

export default {
	components: {
		quantity_chooser
	}
}

</script>


<template>
	<div>
		<quantity_chooser />
	</div>
</template>